.btn-burger {
  right: 25px;
  width: 40px;
  position: absolute; }
  @media (min-width: 980px) {
    .btn-burger {
      display: none; } }
  .btn-burger__wrapper {
    cursor: pointer;
    position: relative;
    width: 40px;
    height: 40px;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    background: #000000c0;
    padding: 5px 10px 7px 10px;
    border-radius: 5px; }
  .btn-burger__string {
    position: absolute;
    top: 50%;
    border-radius: 10px;
    width: 40px;
    height: 3px;
    background-color: #fff;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s; }
  .btn-burger__string::before {
    border-radius: 10px;
    content: '';
    display: inline-block;
    position: absolute;
    top: -10px;
    width: 40px;
    height: 3px;
    background-color: #fff;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s; }
  .btn-burger__string::after {
    border-radius: 10px;
    content: '';
    display: inline-block;
    position: absolute;
    bottom: -10px;
    width: 40px;
    height: 3px;
    background-color: #fff;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s; }
  .btn-burger__string--active {
    position: absolute;
    top: 50%;
    border-radius: 10px;
    width: 40px;
    height: 3px;
    background-color: #fff;
    background-color: inherit;
    -webkit-transition-duration: 0.1s;
    -o-transition-duration: 0.1s;
    transition-duration: 0.1s; }
  .btn-burger__string--active::before {
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    border-radius: 10px;
    content: '';
    display: inline-block;
    position: absolute;
    top: 0px;
    width: 40px;
    height: 3px;
    background-color: #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .btn-burger__string--active::after {
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    border-radius: 10px;
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 0px;
    width: 40px;
    height: 3px;
    background-color: #fff;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
