.footer {
   padding: 50px 20px;
   max-width: 100%;
   background-color: #293a3d;
   &__container {
      @media (max-width: 690px) {
         // justify-content: space-around;
      }
      display: flex;
      justify-content: space-between;

      flex-wrap: wrap;
   }

   &__box1 {
      margin: 20px 10px 20px 10px;
   }

   &__title {
      color: #ffffff;
      font-size: 40px;
      margin-bottom: 10px;
   }

   &__name {
      color: #ffff;
      font-size: 30px;
   }

   &__box2 {
      margin: 20px 10px 20px 10px;
   }

   &__phone {
      @media (max-width: 375px) {
         font-size: 25px;
      }
      color: #ffff;
      font-size: 30px;
      margin-bottom: 10px;
   }

   &__email {
      color: #ffff;
      font-size: 30px;
      @media (max-width: 375px) {
         font-size: 25px;
      }
   }

   &__box3 {
      margin: 20px 10px 20px 10px;
   }

   &__adrress-title {
      color: #ffff;
      font-size: 30px;
      margin-bottom: 10px;
   }

   &__adrress-text {
      @media (max-width: 375px) {
         font-size: 18px;
      }
      color: #ffff;
      font-size: 20px;
      line-height: 25px;
   }
}
